{% extends 'base.html.twig' %}

{% block title %} - Accueil {%endblock %}

{% block body %}

<main class="container">
    <h1>Wellcome to our Tea shop</h1>
    <section id="home" class="container">
        <div class="row">
            {% for ref in references %}
            <div class="col-md-3 margin">
                <div class="card" >
                    <img class="card-img-top" src="{{ref.image}}" alt="T-shirt {{ref.slug}}">
                    <div class="card-body">
                        <h2 class="card-title">{{ref.title}}</h2>
                        <p class="card-text ts6">{{ref.description|length>70? ref.description|slice(0,70)~'...': ref.description}}</p>
                        <p class="card-text">Price: $ {{ref.price.amount}}</p>
                        {# {% for color in reference.colors %}
                        <ul>
                            <li>{{color.name}}</li>
                        </ul>
                        {% endfor %}
                    
                        {% for size in reference.sizes %}
                        <ul>
                            <li>{{size.name}}</li>
                        </ul>
                        {% endfor %} #}
                        <a href="{{path('app_shop_show', {'slug' : ref.slug})}}" class="btn btn-success">look closer</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
   
</main>
{% endblock %}
